@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
}

html {
  font-size: 16px;
  font-family: "Open Sans";
}

header {
  background-color: white;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

body {
  margin: 0;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

/* LOGO PART OF NAVIGATION BAR */
.logo {
  display: flex;
  height: 2rem;
  justify-content: center;
  align-items: center;
  margin-left: 1.5rem;
}

.logo img {
  height: 2.5rem;
}

.logo span {
  font-size: 1.5rem;
}

.logo .colmar {
  font-weight: 700;
}

.academy {
  font-weight: 300;
}

/* RIGHT SIDE OF NAVIGATION BAR */
nav span {
  margin: 0 1rem;
}

nav {
  margin-right: .5rem;
}

nav a {
  font-weight: 400;
}

/* BANNER */
.container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  color: #4B4B4B;
}

#first-banner {
  background-color: #D7D7D7;
}

.left-column {
  margin: 2rem 1.5rem;
  width: 60%;
}

.banner img {
  width: 100%;
  height: auto;
}

.right-column {
  width: 40%;
  display: flex;
  height: 100%;
}

.banner-text {
  flex-direction: column;
  justify-content: center;
}

.banner-text h1 {
  font-size: 3rem;
  font-weight: bold;
  padding: 1rem;
  padding-bottom: .5rem;
}

.banner-text h2 {
  padding: 1rem;
  font-weight: bold;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.25rem;
  width: 30%;
  border-radius: 2px;
  background-color: #4B4B4B;
  margin-left: 1rem;
  margin-top: 1rem;
}

.button span {
  color: white;
}

/* SECOND SECTION LEFT COLUMN*/
.information img {
  width: 100%;
  height: auto;
}

.information h1 {
  margin: 2rem 0 1.5rem 0;
}

.information h3 {
  margin-bottom: 2.5rem;
}

/* SECOND SECTION INFORMATION COLUMN */
.container-second-section {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  color: #4B4B4B;
  background-color: #F3F5F5;
  padding-bottom: 2rem;
}

/* .information-column {
  margin: 1rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
} */
.information-cell {
  /* width: 100%; */
  height: 33%;
  display: flex;
  align-items: center;
  margin: .1rem 0;
  /* padding-top: 1rem; */
  border: 1px solid lightgray;
}

.information-cell img {
  width: 35%;
  height: auto;
  padding-left: 1rem;
}

.info-section {
  margin-top: 2rem;
  flex-direction: column;
  justify-content: space-evenly;
}

.info-cell-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 65%;
  margin-left: 1.5rem;
}

#h2-info {
  padding-bottom: .5rem;
  font-weight: bold;
}

#h3-info {
  padding-bottom: .5rem;
}

#read-more {
  color: blue;
}

#gray {
  background-color: #D7D7D7;
}

/* THIRD SECTION*/
.container-third-section {
  background-color: #EAEBEC;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #4B4B4B;
}

.container-third-section h1 {
  margin: 2rem auto 0 auto;
  display: block;
}

.course-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  padding-bottom: 2rem;
}

.course {
  margin-top: 2rem;
  margin-right: 2rem;
  background-color: white;
  width: 33.25rem;
}

.course img {
  height: auto;
}

#h2-course {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
}

.course h3 {
  padding: .5rem 0 .5rem 1rem;
}

#course-information {
  padding: .5rem 0 1.5rem 1rem;
  line-height: 1.5rem;
}

/* FOURTH SECTION */
#image-padding {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#border-eliminator {
  border: none;
}

.information video {
  width: 100%;
  height: auto;
}

#solo-header {
  padding-top: 2rem;
  text-align: center;
  background-color: #F3F5F5;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  border-top: 1px solid lightgray;
  background-color: #F3F5F5;
  color: #4B4B4B;
}

.footer-right {
  display: inline-flex;
}

.footer-right p {
  padding: 0 1rem;
}


/* MOBILE SITE */
/* @media only screen and (max-width: 470px) {
  nav, .logo, .container, #first-banner, .container-second-section, .container-third-section, #solo-header, footer{
    display: none;
  }
} */

/* MOBILE NAV */
  header {
    width: 100%;
  }

  .mobile-nav {
    margin: auto;
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

/* MOBILE BANNER */
  .mobile-banner {
    width: 100%;
    background-color: #DBDBDB;
    color: #4B4B4B;
  }

  .mobile-banner img {
    width: 100%;
    height: auto;
  }

  .mobile-banner-text {
    padding: 2rem 1rem .5rem 1rem;
  }

  .mobile-banner-text h1 {
    line-height: 2.5rem;
    margin-bottom: 2rem;
    font-weight: bolder;
  }

  .mobile-banner-text h2 {
    line-height: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }

  .mobile-button {
    color: white;
    background-color: #9B9B9B;
    text-align: center;
    padding: 1rem 2rem;
  }

/* MOBILE BODY SECTION */
  .main-content {
    width: 100%;
  }

  .mobile-body {
    padding: 2rem 1rem;
    background-color: #F3F5F5;
  }

  .mobile-body img {
    width: 100%;
  }

  .mobile-body-text {
    padding: 1rem 0 0 1rem;
    color: #4B4B4B;
  }

  .mobile-body-text h2 {
    margin-bottom: 1rem;
    font-weight: bold;
  }

  #second-h3 {
    margin-bottom: 1rem;
    line-height: 1.5rem;
  }

  .mobile-body-text #link {
    color: #65A0E6;
  }

  /* SECOND SECTION OF MOBILE BODY */
.border {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.mobile-buttons h2{
  font-weight: bold;
  color: #4B4B4B;
  background-color: #D8D8D8;
  margin: .5rem;
  padding: 1rem 0 1rem 1rem;
}

.title {
  margin: 0 auto 1rem auto;
  text-align: center;
}

.mobile-body video {
  width: 100%
}

.mobile-body p {
  margin-top: 1rem;

}
