@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
}

html {
  font-size: 16px;
  font-family: "Open Sans";
}

header {
  background-color: white;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

body {
  margin: 0;
}

/* LOGO PART OF NAVIGATION BAR */
.logo {
  display: flex;
  height: 2rem;
  justify-content: center;
  align-items: center;
  margin-left: 1.5rem;
}

.logo img {
  height: 2.5rem;
}

.logo span {
  font-size: 1.5rem;
}

.logo .colmar {
  font-weight: 700;
}

.academy {
  font-weight: 300;
}

/* RIGHT SIDE OF NAVIGATION BAR */
nav span {
  margin: 0 1rem;
}

nav {
  margin-right: .5rem;
}

nav a {
  font-weight: 400;
}

/* BANNER */

.container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

#first-banner {
  background-color: #D7D7D7;
}

.left-column {
  margin: 2rem 1.5rem;
  width: 60%;
  height: auto;
}

.banner img{
  width: 100%;
  height: auto;
}

.right-column {
  width: 40%;
  display: flex;
}

.banner-text {
  flex-direction: column;
  justify-content: center;
}

.banner-text h1 {
  font-size: 3rem;
  font-weight: bold;
  padding: 1rem;
  padding-bottom: .5rem;
}

.banner-text h2 {
  font-size: 2rem;
  padding: 1rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .75rem 1rem;
  width: 30%;
  border-radius: 2px;
  background-color: #4B4B4B;
  margin-left: 1rem;
  margin-top: 1rem;
}

.button span {
  color: white;
}

/* SECOND SECTION */
